/* login css */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    box-sizing:border-box;
}

body{
    align-items:center;
    display:flex;
    justify-content: center;
    flex-direction:column ;
    
    font-family: 'monserrat', sans-serif;
    min-height:100%;
    margin:10%;
    background: radial-gradient(circle at 10% 20%, rgb(0, 52, 89) 0%, rgb(0, 168, 232) 90%);  
   
}
.login-signup{
    position:relative;
    width:768px;
    max-width:100%;
    min-height:480px;
    background: #fff;
    border-radius: 10px;
    overflow:hidden;
    box-shadow:0 14px 28px rgba(0,0,0,0.25),
               0 10px 10px rgba(0,0,0,0.22)


}



.sign-in{
    /* width: 50%;
    opacity:0;
    z-index:1; */
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    opacity: 1;
    transition: all 0.6s ease-in-out;
    z-index: 1;
}


form{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 50px;
    height:100%;
    text-align:center;


}
h1{
    font-weight: bold;
    margin-top: 100px;
    color:#00416A;
}

#text{
    font-weight: bold;
    margin-top: 15px;
    color:#00416A;
}


p{
    color:#00416A;
    margin:0px;
}
input{
    background:#eee ;
    padding:12px 15px;
    margin:8px 15px;
    width:100%;
    border-radius:5px;
    border:none;
    outline:none;
    

    }
  #link{
    color:#004687;
        font-size:14px;
        text-decoration: none;
        margin:15px 0;
  }
    
    button{
        color:#fff;
       
        background: radial-gradient(circle at 10% 20%, rgb(148, 241, 246) 0%, rgb(148, 189, 246) 100.7%);
        font-size:12px;
        font-weight:bold;
        padding:12px 55px;
        margin:20px;
        border-radius:20px;
        border:1px solid #004687;
        outline:none;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        cursor: pointer;
        color:#004687;
        margin-left: 10px;
        
    }

    button:active{
        transform: scale(0.90);
        margin-left: 10px;
    }
    .overlay-right{
        position:absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding:0 40px;
        text-align: center;
        top:0;
        height:100%;
        width:50%;
        transform: translateX(0);
        transition: transform 0.6ms ease-in-out;
        margin-left:375px;
        margin-bottom:30px;



    }

    /* #signUp, #signIn{
        background-color: transparent;
       
        border:2px solid #004687;
    }

     */
    #signUp {
        background-color: transparent;
        border: 2px solid #004687;
    }
    
    .social-login-signup{
        margin:20px 0;

    }

    .social-login-signup a{
      height: 40px;
      width:40px;
      margin:0 5px;
      display:inline-flex;
      justify-content: center;
      align-items: center;
      
      border:1px #004687;
      border-radius: 50%;


    }

    #signUp{
        color:#00416A;
    }

    #signIn{
       color:#00416A;
    }

    .pswd::placeholder{
        color:#004687;
    }
    .name::placeholder{
        color:#004687;
    }
    .email::placeholder{
        color:#004687;
    }

    .contact::placeholder{
        color:#004687;
    }
    